*
{
    box-sizing: border-box !important;
    margin: 0px !important;
    padding: 0px !important;
}

.App
{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    height: 100vh !important;
    width: 100vw !important;
}

.body-styling
{
    
    background-color: antiquewhite !important;
    height: 100vh;
    overflow-x: hidden !important;
    width: 100vw;
}