$fontFamily: 'Overpass', sans-serif;
$logoFontFamily: 'Tangerine', cursive;

*
{
    box-sizing: border-box !important;
    margin: 0px !important;
    padding: 0px !important;
}

.Catalog
{
    background-color: antiquewhite !important;
    min-height: 100vh !important;
    width: 100vw !important;
    .page
    {
        margin-left: auto !important;
        margin-right: auto !important;
        min-height: calc(100vh - 320px) !important;
        padding: 40px 40px !important;
        text-align: center !important;
        width: 1024px !important;
        .desktop-catalog-grid
        {
            display: grid !important;
            grid-template-columns: 1fr 1fr 1fr 1fr !important;
        }
    }
}