$fontFamily: 'Overpass', sans-serif;
$logoFontFamily: 'Tangerine', cursive;

*
{
    box-sizing: border-box !important;
    margin: 0px !important;
    padding: 0px !important;
}

.Checkout
{
    background-color: antiquewhite !important;
    min-height: 100vh !important;
    width: 100vw !important;
}