* {
  box-sizing: border-box !important;
  margin: 0px !important;
  padding: 0px !important;
}

.Home {
  background-color: antiquewhite !important;
  min-height: 100vh !important;
  width: 100vw !important;
}
.Home .page {
  display: block !important;
  height: calc(100vh - 320px) !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center !important;
  width: 1024px !important;
}
.Home .page .desktop-flex-container {
  align-items: flex-start !important;
  display: flex !important;
  height: 600px !important;
  width: 1024px !important;
}
.Home .page .desktop-flex-container .left-flex-container {
  height: 600px !important;
  width: 50% !important;
  text-align: left !important;
}
.Home .page .desktop-flex-container .left-flex-container p, .Home .page .desktop-flex-container .left-flex-container .shop-now-container {
  margin-left: 100px !important;
}
.Home .page .desktop-flex-container .left-flex-container .home-heading-1 {
  color: black !important;
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem !important;
  letter-spacing: 0.175rem !important;
  margin-top: 120px !important;
}
.Home .page .desktop-flex-container .left-flex-container .home-heading-2 {
  color: black !important;
  font-family: "Tangerine", cursive;
  font-size: 6rem !important;
  font-weight: 700 !important;
  margin-top: 20px !important;
}
.Home .page .desktop-flex-container .left-flex-container .home-heading-3 {
  color: black !important;
  font-family: "Overpass", sans-serif;
  font-size: 1rem !important;
  margin-top: 20px !important;
}
.Home .page .desktop-flex-container .left-flex-container .shop-now-container {
  align-items: center !important;
  color: black !important;
  cursor: pointer !important;
  display: flex !important;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  position: relative !important;
  margin-top: 20px !important;
  text-decoration: none !important;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}
.Home .page .desktop-flex-container .left-flex-container .shop-now-container i {
  margin-left: 10px !important;
  transition: transform 0.5s !important;
}
.Home .page .desktop-flex-container .left-flex-container .shop-now-container .shop-now {
  font-family: "Overpass", sans-serif;
  font-size: 1.25rem !important;
  font-weight: 700 !important;
}
.Home .page .desktop-flex-container .left-flex-container .shop-now-container:hover i {
  transform: translate(5px, 0px);
}
.Home .page .desktop-flex-container .right-flex-container {
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
  height: 600px !important;
  width: 50% !important;
}
.Home .page .desktop-flex-container .right-flex-container .desktop-hero-image {
  border: 2px solid black !important;
  box-shadow: 5px 5px 5px black !important;
  display: block !important;
  height: 500px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 400px !important;
}/*# sourceMappingURL=Home.css.map */