$fontFamily: 'Overpass', sans-serif;
$logoFontFamily: 'Tangerine', cursive;

*
{
    box-sizing: border-box !important;
    margin: 0px !important; 
    padding: 0px !important; 
}

.CheckoutItem
{
    border: 1px solid black !important;
    box-shadow: 5px 5px 5px black !important;
    margin-bottom: 40px !important;
    padding: 25px !important;
    height: 200px !important;
    width: 500px !important;
    .desktop-flex-container
    {
        align-items: flex-start !important;
        display: flex !important;
        .product-image
        {
            border: 2.5px solid black;
            height: 150px !important;
            width: 150px !important;
        }
        .desktop-flex-container-2
        {
            margin-left: 20px !important;
            text-align: left !important;
            .product-name
            {
                font-family: $fontFamily;
                font-size: 1.25rem !important;
            }
            .in-stock
            {
                color: green !important;
                font-family: $fontFamily;
                font-size: 1rem !important;
                margin-top: 30px !important;
            }
            .desktop-flex-container-3
            {
                align-items: center !important;
                display: flex !important;
                font-family: $fontFamily;
                font-weight: 700 !important;
                margin-top: 30px !important;
                .quantity-container
                {
                    align-items: center !important;
                    display: flex !important;
                    i
                    {
                        cursor: pointer !important;
                        font-size: 1rem !important;
                        margin-left: 5px !important;
                        margin-right: 5px !important;
                    }
                    p
                    {
                        font-family: $fontFamily !important;
                        font-size: 1.25rem !important;
                    }
                }
                .delete
                {
                    background-color: black !important;
                    border-radius: 20px !important;
                    color: white !important;
                    cursor: pointer !important;
                    margin-left: 20px !important;
                    padding: 5px 12.5px !important;
                    outline: none !important;
                }
                
            }
        }
        .price
        {
            font-family: $fontFamily;
            font-size: 1.25rem !important;
        }
    }
}

@media only screen and (max-width: 375px)
{
    .CheckoutItem
    {
        height: 250px !important;
        width: 300px !important;
        .desktop-flex-container
        {
            align-items: flex-start !important;
            display: flex !important;
            .product-image
            {
                box-shadow: 5px 5px 5px black !important;
                height: 100px !important;
                width: 100px !important;
            }
            .desktop-flex-container-2
            {
                margin-left: 20px !important;
                text-align: left !important;
                .product-name
                {
                    font-family: $fontFamily;
                    font-size: 1rem !important;
                }
                .price
                {
                    font-family: $fontFamily;
                    font-size: 1.25rem !important;
                    margin-left: 0px !important;
                    margin-top: 20px !important;
                }
                .in-stock
                {
                    color: green !important;
                    font-family: $fontFamily;
                    font-size: 1rem !important;
                    margin-top: 20px !important;
                }
                .desktop-flex-container-3
                {
                    display: flex !important;
                    font-family: $fontFamily;
                    font-weight: 700 !important;
                    margin-top: 20px !important;
                    .delete
                    {
                        background-color: black !important;
                        border-radius: 20px !important;
                        color: white !important;
                        cursor: pointer !important;
                        margin-left: 20px !important;
                        padding: 5px 12.5px !important;
                        outline: none !important;
                    }
                    .quantity-input
                    {
                        font-family: $fontFamily !important;
                        font-size: 1rem !important;

                        padding: 5px 10px !important;
                    }
                }
            }
            
        }
    }
}